*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.map
*.shf*
*.suo
*.userprefs
.classpath
.nuget/
.pmd
.project
.settings/
Help/
ProfilingSessions/
TestResults/
bin/
encoding/
js/*.ht*
js/DecTest.*
obj/
packages/
target/
